
.jumbotron {
    background: #154360!important;
    width: 100%;
}

.navbar {
    
    background: #154360!important;
    width: 100%; 
}
.container {
    padding-top: 120px;
    

}
.head-title {
    color: white;
    text-transform: uppercase;
}
.head-subtitle {
    color: white;
    text-transform: white;

}
.nav-item .nav-link {
    color: white;
    text-transform: uppercase;
}

.logo {
    width: 50px;
    height: 50px;   
}

.head-text {
    font-family: helvetica;
    font-size: 36px;
}

.nav-link .menuicon {
    width:40px;
    height: 40px;
}
.contact-icon {
    width: 35px;
    height: 25px;
    align-items: baseline;
    padding-right: 10px;
    line-height: 15px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.itemphoto {
    width: 35px;
    height: 35px;
    padding: 5px;
    line-height: 10px;
    image-rendering: optimizeSpeed;
}
.drop-menu-headers {
    text-indent: 15px;
}
.contactme {
    color: black;
    padding-bottom: 50px;

}
.nav-link .menuicon {
    width:25px;
    height:25px;
    padding: 5px;
  }
p {
    font-family: helvetica;
    font-size: 16px;
    color: #303030;
    font-weight: 100;
    line-height: 25px;
}

.col-md-7 {
    padding-right: 35px;
    margin:
}

}

h2 {
    padding-top: 15px;
    color: #303030;
    
}

h3 {
    color: black;


}

h4 {
    line-height: 1.375em;
    color: #303030;
    font-weight: 300;
    margin-bottom: 30px;
  }  
h5 {
    color: #303030;
    
}
a {
color: #D3D3D3;
}
.img-thumbnail {
    width: 200px;
    height: 200px;
}
.page-footer {
    background-color: #154360;
    height: 200px;

}
.social-icons {
    width: 35px;
    height: 35px;
}
.port-titles {
    color: white;   
}

.container-map {
    align-content: center;
    text-align: center;
}

}

.card {
   height: 400px;
    margin-left: 30px;
}